@model ML.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
	  <link rel="stylesheet" type="text/css" href="~/css/Login.css">
</head>
<body>
    <div class="container">
	<div class="screen">
			<div class="screen__content">
					@using(Html.BeginForm("Login","Usuario",FormMethod.Post,new{enctype="multipart/form-data" ,@class="login"})){
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					@Html.TextBoxFor(model=>Model.RFC,new{@class="login__input", @type="text", @placeholder="RFC"})
					@*<input type="text" class="login__input" placeholder="RFC">*@
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					@Html.TextBoxFor(Model=>Model.Password,new{@class="login__input", @type="password", @placeholder="Password"})
					@*<input type="password" class="login__input" placeholder="Password">*@
				</div>
				<button class="button login__submit">Login</button>		
					}
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
</body>
</html>
